<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math</title>
</head>
<body>
    <h1>Provide your info for free RAM!</h1>
    <form action="/math_result" method="post">
        <label for="num">First Number: <input name="num" type="text"></label><br />
        <label for="operation">Operation: <input name="operation" type="text"></label><br />
        <label for="num_2">Second Number: <input name="num_2" type="text"></label><br />
        <button type="submit">Submit!</button>
    </form>
    <p><a href="/">Back to home</a></p>
</body>
</html>